In [1]:
## filter, map, reduce
## it takes two arguments, funtion name, input to the function
## filter rerurns only true value

In [20]:
## filter

def even(n):
    print("Function has started")
    if n%2 != 0:
        return True
    else:
        return False

In [21]:
a = [1,2,3,4,5,6,7,8]
b = filter(even,a)
print((b))

<filter object at 0x000001587E8C3B50>

In [22]:
c = list(b)
print(c)

Function has started
Function has started
Function has started
Function has started
Function has started
Function has started
Function has started
Function has started
[1, 3, 5, 7]

In [23]:
print(c[0:2])

[1, 3]

In [25]:
a = [1,2,3,4,5,6,7,8]
print(list(filter(lambda x:x%2!=0,a)))

[1, 3, 5, 7]

In [27]:
## map
a = [1,2,3,4,5,6,7,8]
b = map(even,a)
print(list(b))

Function has started
Function has started
Function has started
Function has started
Function has started
Function has started
Function has started
Function has started
[True, False, True, False, True, False, True, False]

In [28]:
a = [1,2,3,4,5,6,7,8]
print(list(map(lambda x:x%2!=0,a)))

[True, False, True, False, True, False, True, False]

In [29]:
## reduce

from functools import reduce

numbers = [1, 2, 3, 4, 5]

def add(x, y):
    return x + y

sum_of_numbers = reduce(add, numbers)

print(sum_of_numbers)

15

In [30]:
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print(sum_of_numbers)

15

In [ ]:
## ## filter, map, reduce

In [32]:
squares_of_even_numbers = [x ** 2 for x in numbers if x % 2 == 0]
print(squares_of_even_numbers)

[4, 16]

In [34]:
add_numbers = [x for x in range(11)]
print(add_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
a = (1,2,3)
if bool(a):
    print("Value")
else:
    print("No")

Value

In [36]:
b = ()
if bool(b):
    print("Value")
else:
    print("No")

No

In [37]:
a = ("test", "demo", "hello")
if "hi" not in a:
    print("yes")

yes

In [38]:
a = ("test", "demo", "hello")
if "test" in a:
    print("yes")

yes

In [39]:
##dict comprehension
a = ("test", "demo", "hello")
b = {1, 2, 3}
c = zip(a,b)
print(list(c))

[('test', 1), ('demo', 2), ('hello', 3)]

In [43]:
import random
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(random.choice(a))

9

In [44]:
print(random.sample(a,5))

[6, 10, 3, 4, 7]

In [49]:
random.shuffle(a)
print(a)

[2, 5, 10, 1, 8, 7, 3, 9, 6, 0, 4]

In [50]:
print(random.randrange(0,500))

212

In [51]:
print(random.uniform(1,5))

4.14654764328343

In [52]:
import string
import random
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [56]:
print(random.choice(string.ascii_letters))
print(random.randint(0,9))

g
4

In [60]:
"".join(random.choice(string.ascii_letters) for i in range(10))

'ZIaHEbKqqH'

In [61]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [62]:
print(random.choice(string.punctuation))

>

In [63]:
print(string.digits)

0123456789

In [66]:
"".join(random.choice(string.ascii_letters + string.digits + string.punctuation) for i in range(20))

"|v|-Hh'GkEQZ}^0W]T3i"

In [67]:
import math
print(math.ceil(22.09))
print(math.ceil(-22.09))
print(math.ceil(22))

23
-22
22

In [68]:
print(math.floor(22.09))
print(math.floor(-22.09))
print(math.floor(22))

22
-23
22

In [70]:
print(round(22.09))
print(round(-22.09))
print(round(22))

22
-22
22

In [71]:
file = open(r"C:\Users\k_mat\Python\Training\text_classifier_with_labels.csv","r")
for i in file:
    print(i)

text,label

"Line Leak, Components:  [Pipe], Tasks: [Pipe replacement]",Pipe Line Replacement

"Pipe Leak, Components: [Pipe], Tasks: [Erect Scaffolding, Replace the line, Conduct Inspection, Remove Scaffolding]",Pipe Line Replacement

"Pipe Leak, Components: [] Tasks: [Perform Welding]",Pipe Repair Works

"Low Seal Pot level, Components: [Seal Mechanical, Gaskets] Tasks: [Replace the seal]",Mechanical Seal Replacement

"Seal Leak,  Components: [Seal Mechanical, Gaskets] Tasks: [Erect Scaffolding, Replace the seal, , Remove Scaffolding]",Mechanical Seal Replacement

"Seal Pot Level Low and Seal leak, Components: [Gaskets] Tasks: [Replace the seal]",Mechanical Seal Replacement

"Top up seal pot, Components: [] Tasks: [Top up up the seal pot]",Seal Pot Top Up

"Choked Strainer, Components: [] Tasks: [Clean the strainer]",Filter Cleaning

"High DP, Components: [Filter] Tasks: [Replace the filter]",Filter Replacement

"Choked Filter, Components: [Filter] Tasks: [Replace the filter]",Filter Replacement

"Replace the filter bag , Components: [Filter, Gaskets] Tasks: [Filter bag Replacement]",Filter Replacement

In [72]:
file.close()

In [77]:
## Pandas
import pandas as pd
data = pd.read_csv(r"C:\Users\k_mat\Python\Training\text_classifier_with_labels.csv")

In [79]:
data

,text,label
0,"Line Leak, Components: [Pipe], Tasks: [Pipe r...",Pipe Line Replacement
1,"Pipe Leak, Components: [Pipe], Tasks: [Erect S...",Pipe Line Replacement
2,"Pipe Leak, Components: [] Tasks: [Perform Weld...",Pipe Repair Works
3,"Low Seal Pot level, Components: [Seal Mechanic...",Mechanical Seal Replacement
4,"Seal Leak, Components: [Seal Mechanical, Gask...",Mechanical Seal Replacement
5,"Seal Pot Level Low and Seal leak, Components: ...",Mechanical Seal Replacement
6,"Top up seal pot, Components: [] Tasks: [Top up...",Seal Pot Top Up
7,"Choked Strainer, Components: [] Tasks: [Clean ...",Filter Cleaning
8,"High DP, Components: [Filter] Tasks: [Replace ...",Filter Replacement
9,"Choked Filter, Components: [Filter] Tasks: [Re...",Filter Replacement
10,"Replace the filter bag , Components: [Filter, ...",Filter Replacement

In [80]:
data.describe()

,text,label
count,11,11
unique,11,6
top,"Line Leak, Components: [Pipe], Tasks: [Pipe r...",Mechanical Seal Replacement
freq,1,3

In [81]:
data['text']

0     Line Leak, Components:  [Pipe], Tasks: [Pipe r...
1     Pipe Leak, Components: [Pipe], Tasks: [Erect S...
2     Pipe Leak, Components: [] Tasks: [Perform Weld...
3     Low Seal Pot level, Components: [Seal Mechanic...
4     Seal Leak,  Components: [Seal Mechanical, Gask...
5     Seal Pot Level Low and Seal leak, Components: ...
6     Top up seal pot, Components: [] Tasks: [Top up...
7     Choked Strainer, Components: [] Tasks: [Clean ...
8     High DP, Components: [Filter] Tasks: [Replace ...
9     Choked Filter, Components: [Filter] Tasks: [Re...
10    Replace the filter bag , Components: [Filter, ...
Name: text, dtype: object

In [82]:
data['label']

0           Pipe Line Replacement
1           Pipe Line Replacement
2               Pipe Repair Works
3     Mechanical Seal Replacement
4     Mechanical Seal Replacement
5     Mechanical Seal Replacement
6                 Seal Pot Top Up
7                 Filter Cleaning
8              Filter Replacement
9              Filter Replacement
10             Filter Replacement
Name: label, dtype: object