In [1]:
a = [["kiran","20","Chennai"],["Madurai","Kumar","45"]]

In [2]:
print(isinstance(a,list))

True

In [3]:
a = {"Name" : "Mathankumar", "Nationality" : "India" , "Age" : 34}

In [4]:
print(a.get("Name"))
print(a.get("Age"))
print(a.get("Nationality"))

Mathankumar
34
India

In [5]:
print(a.keys())

dict_keys(['Name', 'Nationality', 'Age'])

In [6]:
print(a.values())

dict_values(['Mathankumar', 'India', 34])

In [7]:
print(a.items())

dict_items([('Name', 'Mathankumar'), ('Nationality', 'India'), ('Age', 34)])

In [8]:
a["Salary"] = 300
print(a)

{'Name': 'Mathankumar', 'Nationality': 'India', 'Age': 34, 'Salary': 300}

In [9]:
b = a.popitem()
print(a)
print(b)

{'Name': 'Mathankumar', 'Nationality': 'India', 'Age': 34}
('Salary', 300)

In [13]:
c = [1, 2, 3]
e = ["Name", "Age", "Nationality"]
d = dict(zip(a,c))
print(d)

{'Name': 1, 'Nationality': 2, 'Age': 3}

# Data types:  string(), int(), list(), tuple(), set(), dict() - Completed

# Arithmatic operators

In [20]:
a = 10
b = 9
print("+") 
print(a+b)
print("-") 
print(a-b)
print("x") 
print(a*b)
print("^") 
print(a^b) ## exponential or a**b
print(a/b)
print(a%b) ## Remainder
print(a//b)

+
19
-
1
x
90
^
3
1.1111111111111112
1
1

In [22]:
## relationale operators
print (a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)

False
True
True
True
False

In [23]:
## Logical Operator
## and , ## or, ## not
print (True and True)

True

In [24]:
print(True and False)

False

In [25]:
print(True or False)

True

In [26]:
print(not True)

False

In [27]:
print (not False)

True

In [28]:
### loops

In [29]:
## if
## while
## for

In [30]:
## if loop -> decision making statement

In [39]:
name = "kiran"
mark = 50

if name == 'kiran' and mark == "50":
    print('yes')
else:
    print('No')
print("********************************")

name = "kiran"
mark = 90

if name == 'kiran' and mark == "50":
    print('yes')
else:
    print('No')

No
********************************
No

In [40]:
## nested if
if name == "kiran" and mark > 35:
    if mark > 60:
        print("First Class")
    else:
        print("Second Class")
else: 
    print("Fail")

First Class

In [41]:
## if and elif

if mark ==100:
    print("centum")
elif mark >=90:
    print("A Grade")
elif mark >=60:
    print("1st Class")
elif mark >=40:
    print("3rd Class")
else:
    print("Fail")

A Grade

In [42]:
#while loop

In [1]:
a = 1

while a<4:
    print(a)
    a = a + 1

1
2
3

In [2]:
## for

In [22]:
list(range(10, 25))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [4]:
list(range(10, 50, 10))

[10, 20, 30, 40]

In [33]:
for i in range(100, 1500, 500):
    print(i)

100
600
1100

In [48]:
a = "Hello world, today we are learning python"
a = a.split(" ")
print(a)
for i in a:
    if i == "python":
        print("Python is there")

['Hello', 'world,', 'today', 'we', 'are', 'learning', 'python']
Python is there

In [62]:
a = "Hello world, today we are learning python"
print(a)

Hello world, today we are learning python

In [63]:
a = a.split(" ")
print(a)

['Hello', 'world,', 'today', 'we', 'are', 'learning', 'python']

In [64]:
for i in a:
    print(i)

Hello
world,
today
we
are
learning
python

In [65]:
a = {"Name" : "Mathankumar", "Nationality" : "India" , "Age" : 34}

In [66]:
a.keys()

dict_keys(['Name', 'Nationality', 'Age'])

In [67]:
for i in a.keys():
    print(i)

Name
Nationality
Age

In [68]:
for i in a.values():
    print(i)

Mathankumar
India
34

In [69]:
for i in a.items():
    print(i)

('Name', 'Mathankumar')
('Nationality', 'India')
('Age', 34)

In [79]:
for key, value in a.items():
    print(key)
    print(value)

Name
Mathankumar
Nationality
India
Age
34

In [82]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [87]:
l = []
for i in range(10, 20):
    if i % 2 == 0:
        l.append(i)
print(l)

[10, 12, 14, 16, 18]

In [110]:
a = ["apple", "apple", "mango", "mango", "orange"]
# Fruit : Count
#2 Unique Fruit List
#3 Duplicate Fruit List
print("#1 - Answer")
Counter(a)
print(fruit.count())
print("************************")
print("#2 - Answer")
print(set(a))

#1 - Answer

NameError: name 'Counter' is not defined